table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
thead {
    background-color: #4CAF50;
    color: white;
}
table, td {
    border: 1px solid #B8B8B8;
}
th {
    border: 1px solid white;
}
tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}
tbody td {
    height: 40px;
}