table{
    width: 100%;
    border-collapse: collapse;
}
tbody {
    width: 100%;
}
tbody th {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    border: 1px solid white;
}
tbody td {
    width: 75%;
    padding-left: 10px;
}
tbody tr {
    height: 45px;
}
table, td {
    border: 1px solid #B8B8B8;
}
tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}

